<!-- <h1>{{ title }}</h1>
<router-outlet></router-outlet> -->
<!-- 
<h2>Template-Driven Form Example</h2>
<form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
  <label>Name:</label>
  <input type="text" name="name" [(ngModel)]="user.name" required />
  <br><br>
  <label>Email:</label>
  <input type="email" name="email" [(ngModel)]="user.email" required />
  <br><br>
  <label>Gender:</label>
  <select name="gender" [(ngModel)]="user.gender" required>
    <option value="">Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <br><br>
  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>
<hr>
<h3>Form Value:</h3>
<pre>{{ user | json }}</pre> -->


<h2>Reactive Form Example</h2>
<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <label>Name:</label>
  <input type="text" formControlName="name" />
  <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
    Name is required  </div> <br>
  <label>Email:</label>
  <input type="email" formControlName="email" />
  <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
    <div *ngIf="userForm.get('email')?.errors?.['required']">Email is required</div>
    <div *ngIf="userForm.get('email')?.errors?.['email']">Email is invalid</div>
  </div>  <br>
  <label>Gender:</label>
  <select formControlName="gender">
    <option value="">Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select> 
  <div *ngIf="userForm.get('gender')?.touched && userForm.get('gender')?.invalid">
    Gender is required  </div>  <br>
  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form> <hr>
<h3>Form Value:</h3>
<pre>{{ userForm.value | json }}</pre>